.if-section {
  background-color: black;
  padding-top: 30px;

}

.if-section img {
  width: 300px;
}


.if-body-copy {
  color: white;
  text-align: right;
  width: 400px;
  position: relative;
  top: -200px;
}

.bottom h1 {
  color: orange;
}

.bottom img {
  width: 100px;
  position: relative;
  left: 200px;
}

.bottom h2 {
  color: grey;
  align-items: center;
}
