.if-section {
  background-color: black;
  height: 385px;

}

.if-section img {
  width: 300px;
}


.if-body-copy {
  color: white;
  text-align: right;
  width: 400px;
  position: relative;
  top: -200px;
}

.lower-section h1 {
  color: #FF5c33;
}

.lower-section img {
  width: 100px;
  position: relative;
  left: 200px;
}

.lower-section h2 {
  color: grey;
  margin-left: 200px;
  margin-top: -20px;
}

.paragraph p {
  margin: 0px;
}
#logo {
  width: 200px;
  margin-left: 300px;
  margin-top: -25px;
}

.list h2 {
  font-size: 1em;

}

ul {
  margin-left: -20px;
}
hr {
  width: 700px;
  margin-left: -20px;
  margin-top: -30px;
}
